{%extends 'base.html'%}
{%block content%}

  <style>
    .my-txtarea{
      display: block;
      width: 100%;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
  </style>

  <div style="margin-top: 100px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3"></div>
            <div class="card col-xl-6 col-lg-6 " id="sample-login">
                <form method="post"> 
                    {%csrf_token%}
                <div class="card-header">
                    <h4>QUIZ</h4>
                </div>
                <div class="card-body pb-0">
                    <p class="text-muted">Give a name for this quiz</p>
                    <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-question"></i>
                        </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Quiz name" name="title" required>
                    </div>
                    </div>
                    <div class="form-group mb-0">
                    </div>
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <input type="datetime-local" class="form-control" name="starttime" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                        </div>
                        <input type="datetime-local" class="form-control" name="endtime">
                    </div>
                </div>
                <div class="card-footer  justify-content-center d-flex">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
                </form>
            </div>
        </div>
    </div>
  {%endblock%}

