{% extends 'base.html' %}
  {% block content %}
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <form action="{% url 'front:create_answers' quiz.code %}" method="post">
                {% csrf_token %}
                <div class="card-header">
                  <h4>{{quiz.title}}</h4>
                </div>
                <div class="card-body">
                  <div>
                      <label for="name">FISh</label>
                      <input class="form-control" type="text" id="name" name="full_name" required>
                  </div>
                  <div>
                      <label for="name">Phone</label>
                      <input class="form-control" type="text" id="phone" name="phone" required>
                  </div>
                  <div>
                      <label for="name">Email</label>
                      <input class="form-control" type="email" id="email" name="email">
                  </div>
                    {% for question in questions %}
                    <div class="section-title">{{forloop.counter}}) {{question.title}}</div>
                        {% for option in question.get_options %}
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option{{option.id}}" name="{{question.id}}" class="custom-control-input" required value="{{option.id}}">
                            <label class="custom-control-label" for="option{{option.id}}">{{option.name}}</label>
                        </div>
                        {% endfor %} <hr>
                    <!-- <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio4">Or toggle this other custom radio</label>
                    </div> -->
                    {% endfor %}
                    <button class="btn btn-success">Yuborish</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}