{%load static%}
<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{%static 'assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{%static 'assets/bundles/bootstrap-social/bootstrap-social.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{%static 'assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{%static 'assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{%static 'assets/img/favicon.ico'%}" />
  <style>
    .row{
        margin-top: 20%;
    }

  </style>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5 align-items-center hello">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>

              <div class="card-body">
                <form method="POST" class="needs-validation" novalidate=""> {%csrf_token%}
                  <div class="form-group">
                    {%if status%}
                    <h6 style="color: red;">{{status}}</h6>
                    {%endif%}
                    <label for="email">Username</label>
                    <input id="email" type="username" class="form-control" name="username" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                      <div class="float-right">
                      </div>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>
                  <div class="form-group">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
                <div class="text-center mt-4 mb-3">
                    <a href="{%url 'dash:register'%}"> Don't have an account? Create One</a>
                </div>
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="{%static 'assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{%static 'assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{%static 'assets/js/custom.js'%}"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>